.container {
  margin-top: 150px;
}
.tlacitka1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-xl {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cs {
  margin-left: 200px;
  margin-top: 25px;
}
.alert {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 230px;
  margin-right: 230px;
}
.a {
  background-color: #212529;
  color: #ffffff;
  padding: 5px 5px;
  width: 10%;
  text-align: center;
  outline: none;
  margin-top: 10px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.a.active.focus, .a.active:focus,
.a.focus, .a:active.focus,
.a:active:focus, .a:focus {
  outline: none;
  box-shadow: none;
  background-color: #212529;
}
.ukazatel {
  margin-top: 30px;
  margin-bottom: 100px;
}
.vyberSi {
  margin-top: 25px;
  margin-left: 160px;
}
@media only screen and (max-width:1800px) {
  .a {
    width: 15%;
  }
}
@media only screen and (max-width:1200px) {
  .a {
    width: 20%;
  }
  .btn-xl {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 80px;
  }
}
@media only screen and (max-width:500px) {
  .btn-xl {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 800px;
  }
}
.t1 {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 5px;
}
.t2 {
  border: 1px solid black;
  width: 100%;
}
.txtT {
  font-size: 18px;
  text-align: justify;
}
.bold {
  font-weight: bold;
  text-align: justify;
}
